.ArtworkGrid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
}

.ArtworkGrid-item {
    background: white;
    font-family: "Millenia";
    font-size: large;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: fit-content;
    margin-top: 2em;
    margin-left: 2em;
    transition: 
        box-shadow 0.2s ease-in-out,
        transform .2s ease;
}

.ArtworkGrid-item:hover {
    box-shadow: 0 10px 8px rgba(0,0,0,0.1);
    transform: scale(1.05);
}

.Artwork-details-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    font-family: "Millenia";
    background: white;
    justify-content: flex-end;
    align-items: flex-start;
}

.Artwork-details-primary {
    font-size: 1em;
    color: #333;
}

.Artwork-details-secondary {
    font-size: 1em;
    color: #999;
    letter-spacing: 0.2em;
}

.ArtworkGrid-spinner-container {
    display: flex;
    justify-content: space-around;
    height: 60vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
