.Artwork-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.Artwork-details-container {
    display: flex;
    flex-direction: column;
    margin: 2em;
    font-family: "Millenia";
    justify-content: center;
}

.Artwork-details-primary {
    font-size: xx-large;
}

.Artwork-details-secondary {
    font-size: medium;
    color: gray;
}

.Artwork-spinner-container {
    display: flex;
    justify-content: center;
}

.Artwork-spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: round 1s linear infinite;
    border-top: 5px solid rgb(3, 83, 89);
    background: transparent;
}
