.carousel-container {
    position: relative;
    animation: 1s linear 0s 1 fadeIn;
}

.carousel {
    display: flex;
    width: 80%;
    min-height: 60vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.artwork {
    width: 100%;
    flex: 1;
    transition:
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s,
        transform .6s ease,
        filter .3s ease-in-out;
    filter: grayscale(100%);
    display: flex;
    flex-direction: column;
}

.artwork:hover {
    filter: grayscale(40%);
    cursor: pointer;
    transform: scale(1.05);
}


.artwork.open {
    flex: 5;
    filter: none;
}

/* .arrow {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-around;
    transition: .3s ease-in-out;
} */

.arrow-left, .arrow-right {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-around;
    transition: .3s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
}

.arrow-left {
    left: 30px;
}

.arrow-right {
    right: 30px;
}

.arrow-img {
    height: 5em;
    transition: 0.7s ease-out;
    cursor: pointer;
}


.arrow-img.left:hover {
    transform: translateX(-0.5em);
}

.arrow-img.right:hover {
    transform: translateX(0.5em);
}

.header {
    font-family: "Millenia";
    font-size: x-large;
    text-align: center;
}

.spinner-container {
    display: flex;
    justify-content: space-around;
    height: 60vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
}


.artwork-details {
    padding: 1em;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    font-family: "Millenia";
    background: linear-gradient(0deg, rgb(0, 0, 0), transparent);
    opacity: 0%;
    visibility: hidden;
    transition: 
        visibility 0.6s ease-in-out,
        opacity 0.6s ease-in-out;
    justify-content: flex-end;
    height: fit-content; 
    overflow: hidden;
}

.artwork-details-primary {
    font-size: 3em;
    color: #ffff;
}

.artwork-details-secondary {
    font-size: 1em;
    color: #999;
    padding-bottom: 1em;
}

.artwork:hover .artwork-details {
    visibility: visible;
    opacity: 80%;
}

.indicator-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0.5em 0;
}

.indicator, .indicator-active {
    height: 0.5em;
    width: 0.5em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.25em;
    transition: 
        background-color 0.6s ease-in-out,
        transform  0.1s ease-in-out;
    cursor: pointer;
}

.indicator-active {
    background-color: black;
}

.indicator:hover, .indicator-active:hover {
    transform: scale(1.5);
}


@media only screen and (max-width: 900px) {
    .carousel{
        min-height: 30vw;
    }

    .arrow-left, .arrow-right {
        display: flex;
        flex-direction: row;
        height: inherit;
        justify-content: space-around;
        transition: .3s ease-in-out;
        position: unset;
        width: fit-content;
    }
    
    .arrow-left {
        left: 2%;
    }
    
    .arrow-right {
        right: 2%;
    }

    .arrow-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .artwork-details-primary {
        font-size: 1.5em;
    
    }
    
    .artwork-details-secondary {
        font-size: 0.5em;
        padding-bottom: 0.5em;
    }

    .indicator-container {
        display: none;
    }
  }

.Aspect-ratio-box {
    background: white;
}

.Aspect-ratio-box::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 591.44px / 1127.34px * 100%;
}

.Aspect-ratio-box::after { /* to clear float */
    content: "";
    display: table;
    clear: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}