.carousel {
    width: 80%;
    min-height: 60vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.artwork {
    width: 100%;
    flex: 1;
    transition:
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s,
        filter .3s ease-in-out;
    filter: grayscale(100%) blur(2px);
}

.artwork:hover {
    filter: grayscale(40%);
    cursor: pointer;
}


.artwork.open {
    flex: 5;
    filter: none;
}

.arrow {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-around;
    transition: .3s ease-in-out;
}

.arrow-img {
    height: 3em;
    transition: 0.7s ease-out;
}

.arrow-img.left:hover {
    transform: translateX(-0.5em);
}

.arrow-img.right:hover {
    transform: translateX(0.5em);
}

.header {
    font-family: "Millenia";
    font-size: x-large;
    text-align: center;
}

.spinner-container {
    display: flex;
    justify-content: space-around;
    height: 60vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

