.CategoryGrid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.CategoryGrid-item {
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: "Millenia";
    font-size: large;
}

.CategoryGrid-item-condensed {
    /* background: black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    font-family: "Millenia";
    font-size: large;
}

.CategoryGrid-link{
    color:black;
}

.CategoryGrid-link-active{
    color:red;
    font-weight: bold;
}



a, a:hover, a:visited {
    text-decoration: none
}

.CategoryGrid-header {
    font-family: "Millenia";
    font-size: x-large;
    text-align: center;
}

.CategoryGrid-icon {
    height: 5em;
}

.CategoryGrid-icon-condensed {
    height: 1.5em;
}
