.CategoryGrid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.CategoryGrid-item, .CategoryGrid-item-condensed  {
    /* background: black; */
    display: flex;
    align-items: center;
    padding: 1rem;
    font-family: "Millenia";
    font-size: large;
    transition: all 0.3s ease-in;
}

.CategoryGrid-item  {
    flex-direction: column;
    padding: 1rem;
    min-width: 7ch;
}

.CategoryGrid-item-condensed, .CategoryGrid-item-hamburger, .CategoryGrid-item-back  {
    flex-direction: row;
    padding: 0.5rem;
    cursor: pointer;
    min-width: 10ch;
}

.CategoryGrid-item-hamburger {
    display:none;
}


.CategoryGrid-link{
    color:black;
    cursor: pointer;
}

.CategoryGrid-link-active{
    color:#cf234c;
    font-weight: bold;
}


.CategoryGrid-link-highlight {
  display: inline-block;
  position: absolute;
  z-index: -1;
  background-color: #98b4d49c;
  height: 1em; 
  width: 0%;
  transition: width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.CategoryGrid-item:hover .CategoryGrid-link-highlight, .CategoryGrid-item-condensed:hover .CategoryGrid-link-highlight {
      width: 7ch;
}

a, a:hover, a:visited {
    text-decoration: none
}

.CategoryGrid-header {
    font-family: "Millenia";
    font-size: x-large;
    text-align: center;
}

.CategoryGrid-icon {
    height: 5em;
}

.CategoryGrid-icon-condensed {
    height: 1.5em;
}

.CategoryGrid-bar {
    display: flex;
    flex-direction: row;
}

.compact {
    display: flex;
    transition: all 0.3s ease-in;
}

.bar-item {
    display: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.break {
}

/*886px*/



@media only screen and (max-width: 1143px) {
    .CategoryGrid-item:hover .CategoryGrid-link-highlight, .CategoryGrid-item-condensed:hover .CategoryGrid-link-highlight {
        width: 0%;
  }
  .CategoryGrid-item-condensed  {
        /* flex-direction: column; */
        padding: 0.5rem;
        cursor: pointer;
        min-width: 10ch;
        width: 100%;
    }

    .CategoryGrid-item-hamburger  {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        cursor: pointer;
        min-width: 10ch;
    }

    .CategoryGrid-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        padding: 0;
        margin: 0;
    }
    .CategoryGrid-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .compact {
        display: none;
    }
    .break {
        flex-basis: 100%;
        height: 0;
        /* width: 0; */
    }
    .bar-item {
        display: block;
    }
}


