.CategoryGrid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.CategoryGrid-item {
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: "Millenia";
    font-size: large;
}

.CategoryGrid-item-condensed {
    /* background: black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    font-family: "Millenia";
    font-size: large;
}

.CategoryGrid-item > .CategoryGrid-link,.CategoryGrid-link:hover,.CategoryGrid-link:click, .CategoryGrid-link:visited, .CategoryGrid-link:-webkit-any-link{
    border:none;
    outline:none;
    text-decoration:none;
    color:red;
    -webkit-tap-highlight-color: white;
}

a, a:hover, a:visited {
    text-decoration: none
}

.CategoryGrid-header {
    font-family: "Millenia";
    font-size: x-large;
    text-align: center;
}

.CategoryGrid-icon {
    height: 5em;
}

.CategoryGrid-icon-condensed {
    height: 1em;
}
