body {
  margin: 0em 10em 2em 10em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Mill'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(https://img.freepik.com/free-photo/smooth-white-stucco-wall_1194-6983.jpg); */
  background-color: whitesmoke;
  width: '100vw';
  height: '100vh';
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Millenia";
  src: local("Millenia"),
   url("./fonts/Millenia.ttf") format("truetype");
}

@font-face {
  font-family: "Gurmukhi";
  src: local("Gurmukhi"),
   url("./fonts/Gurmukhi.ttf") format("truetype");
}

@media only screen and (max-width: 886px) {
  body {
    margin: 2em 2em;
  }
}